@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1900px;
    margin: 0 auto;
}

body a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 1480px;
    margin: 0 auto;
}

.logo {
    width: 82px;
    height: 64px;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li {
    margin: 0 0px;
}

.nav a {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin: 0 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #F15B4E;
}

.get-btn {
   font-family: 'Inter', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
    width: 180px;
    height: 46px;
    border: 1px solid #F15B4E;
    padding: 16px, 50px, 16px, 50px;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    margin-right: 20px;
    background: #F15B4E;;
}

.toggle {
    display: none;
}

@media (max-width: 1024px) {
    .headers {
        justify-content: space-between;
        padding: 10px;
        width: 1000px;
        margin: 0 auto;
    }

}

@media (max-width: 768px) {

    .headers{
        width: 100%;
        padding: 10px;
    }

    .nav-button a{
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 5px;
    }
    .buttons{
        display: none;
    }

    .nav{
        display: none;
    }
    .nav.active {
        display: block;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }

    .nav li {
        margin: 10px 0;
        text-align: center;
    }

    .toggle {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 2; 
    }

    .toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #333; 
        margin-bottom: 5px; 
        transition: all 0.3s ease; 
    }

    .toggle span:nth-child(1) {
        transform-origin: top left; 
    }

    .toggle span:nth-child(3) {
        transform-origin: bottom left; 
    }

    .toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); 
    }

    .toggle.active span:nth-child(2) {
        opacity: 0; 
    }

    .toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); 
    }

}
/* ------------------------------------header end ------------------------------------------ */

.banner{
    background-color: #ECF2F8;
    width: 100%;
    height: 993px;
}


.banner-detils{
    width: 960px;
    padding-top: 70px;
    margin: 0px auto;
    text-align: center;
}
.banner-detils h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 62px;
}

.banner-detils p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    font-size: 18px;
    color: #00263D;
    line-height: 35px;
}
.threetext{
   width: 433px;
   margin: 0 auto;
   display: flex;
   gap: 10px;
   text-align: center;
}
.threetext p{
    font-family: sans-serif;
    font-weight: 500;
    color: #00263D;
    font-size: 48px;
    line-height: 62px;
}
#text{
    color: #F15B4E;
}
.banner-btn{
    margin: 20px auto;
    width: 268px;
    height: 69px;
    font-size: 18px;
    font-weight: 700;
}
.banner-img{
    width: 1480px;
    height: 507px;
    margin: 0 auto;
    display: grid;
    margin-top: -80px;
    grid-template-columns: auto auto auto auto auto auto;

}
.item3 {
    grid-area:span 2 / span 2;
  }
  .item1 {
    margin-left: -130px;
  }
  .item2 {
    margin-left: -174px;
    margin-top: 190px;
  }
  .item3{
    width: 425px;
    height: 425px;
    display: flex;
    justify-content: end;
    margin-left: 110px;
    margin-top: 60px;
  }
  .item4{
    margin-left: -389px;
    margin-top: 187px;
  }
  .item5{
    margin-left: -344px;
  }
.jwalary_box{
    width: 225px;
    height: 225px;
    background-color: white;
    position: relative;
    transform: translateX(180px) rotate(45deg);
    
}

.jwalary_box img{
    width:  225px;
    height: 225px;
    rotate: -45deg;
    overflow: hidden;
    opacity: 0.3;
    transition: all 0.2s ease-in;
}

.jwalary_box img:hover{
    opacity: 100%;
    transform: scale(1.1);
    cursor: pointer;
}

/* ----------------------- banner end  ------------------------ */


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    width: 1062px;
    height: 88px;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
  }

  .logos-slide img {
   width: 113px;
   height: 67px;
   margin: 30px;
  }


  /* -----------------------logo slider end ------------------------ */
.jewelry-photography-main{
    background: #F3F7FC;
    width: 100%;
    padding: 100px 0px;
    margin-top: 30px;
}
.jewelry-photography-main h1{
    font-family: 'Inter', sans-serif;
    color: #00263D;
    text-align: center;
    font-weight: 300;
    line-height: 58px;
    font-size: 40px;
}
.jewelry-photography-main h1  span{
    font-weight: 500;
}
  .jewelry-photography{
    display: flex;
    gap: 2px;
    margin: 100px 0px auto auto;
    width: 1680px;
    height: 852px;
    background: #FFF;
  }
  .jewelry-photography-detais{
    width: 700px;
   
  }
.photography-detais{
    width: 372px;
    margin: 219px 0px 325px 238px;

}
.photography-detais h2{
    color: #00263D;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 135.714% */
    letter-spacing: 0.56px;
}
.photography-detais span{
    font-weight: 700;
}
.photography-detais p{
    margin-top:58px;
    color: #00263D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.64px;
}
.jewelry-slider-details{
    padding: 25px 35px;
}
.jewelry-slider-details h2{
    color: #F15B4E;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.jewelry-slider-details p{
    color: #00263D;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.36px;
    text-transform: uppercase;
}
.slider-details p{
    margin-top:20px;
    width: 178px;
    height: 40px;
    flex-shrink: 0;
    color: #00263D;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.jewelry-slider{
    display: flex;
    gap: 50px;
    align-items: center;
    overflow-x: hidden;
}
.jewelry-slider ::-webkit-scrollbar{
    width: 0;
}
.slider-card{
    min-width: 459px;
    max-height: 734px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px #DDECF4;
}
.slider-details hr{
    margin-top: 24px;
}
.btn-container{
    margin-top: 41px;
    display: flex;
    gap: 10px;

}
.slider-btn{
    background: transparent;
    height: 40px;
    padding: 5px 18px;
    align-items: flex-start;
    border-radius: 4px;
    color: #00263D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.28px;
}
.btn-01{
    border: 1px solid #9E88F2;
}
.btn-02{
    border: 1px solid #5BD1CA;
}

.btn-03{
    border: 1px solid #98B8F6;
}
.btn-04{
    border: 1px solid #FBBFB2;
}




/* --------------------------end----------------------------------- */
.Product-Comparison-Chart{
    width: 960px;
    height: 1008px;
    margin: 0 auto;
}
.product-title{
    padding: 60px 0px;
    text-align: center;
}
.product-title p{
    color:  #F15B4E;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.56px;
}
.product-title h1{
    color: #00263D;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0.8px;
}
.product-title h1 samp{
font-weight: 600;
}
.table-direction{
    display: flex;
    justify-content: end;
}

.direction{
    /* clip-path: polygon(1% 44%, 80% 44%, 76% 32%, 100% 50%, 76% 69%, 80% 52%, 0 53%);
    background: yellow; */
    width: 280px;
    margin-left: 50px;
}
























